{% extends "./base.html" %}

{% block title %}Edicion de Cursos{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
         <h3>Edicion de Curso</h3>
        <div class="card">
            <div class="card-body">

                <form action="/editarCurso/" method="POST">{% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="txtCodigo" value="{{curso.codigo}}" name="txtCodigo" placeholder="Código" maxlength="6"  minlength="6" readonly required>
                    </div>


                    <div class="mb-3">
                        <input type="text" class="form-control" id="txtNombre" value="{{curso.nombre}}" name="txtNombre"  placeholder="Nombre"  maxlength="50" required/>                                
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="txtCreditos" value="{{curso.creditos}}" name="txtCreditos"   min="1" max="9" value="1" required/>                                
                    </div>

                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-success text-white">Guardar</button>
                    </div>
                </form>

            </div>
        </div>
    
    </div>
</div>

{% endblock%}