{% extends "./base.html" %}

{% block title %}Gestion de Cursos{% endblock %}

{% block body %}

<div class="row">

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}

        <!--Area del mensaje de cabecera-->
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}
        <h3>Gestion de Curso</h3>
        <div class="card">
            <div class="card-body">

                <form action="/registrarCurso/" method="POST">{% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" id="txtCodigo" name="txtCodigo" placeholder="Código" maxlength="6" minlength="6" required>
                    </div>


                    <div class="mb-3">
                        <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre" maxlength="50" required/>                                
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="txtCreditos" name="txtCreditos" min="1" max="9" value="1" required/>                                
                    </div>

                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-success text-white">Guardar</button>
                    </div>
                </form>

            </div>
        </div>   
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <!--h3>Listado de Cursos</h3-->
        <div class="table-responsive py-2">
            <table class="table caption-top table-hover table-borderless table-striped table-sm">
                <caption><strong>Listado de Cursos</strong></caption>
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Creditos</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.creditos}}</td>
                        <td><a href="edicionCurso/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>      
        </div>   
    </div>
</div>

{% endblock %}